<!doctype html>
<html>
    <head>
        <title>StepashkaID</title>
    </head>
        <style>
        body {
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        img {
            max-width: 90%;
            border: 2px solid #333;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }
    </style>
    <body>
    <p>CUMING SOON</p>
     <img src="{{ url_for('video_feed') }}">
    </body>
</html>